#pane{
    -fx-background-image: url("background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1500 1070;
    -fx-background-position: center center;
}

@font-face {
    src: url('Stardew_Valley.ttf');
}

.button {
    -fx-font-family: 'Stardew Valley Regular';
    -fx-background-color: transparent;
    -fx-background-size: 190 70;
    -fx-font-size: 45;
}

.text, Text {
    -fx-font-family: 'Stardew Valley Regular';
}

#boy-button:hover, #girl-button:hover,
#goBtn:hover, #startBtn:hover, #exitBtn:hover,
#back-button:hover {
    -fx-background-color: transparent;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

#boy-button {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('farmerboy.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 120 230;
}

#back-button {
       -fx-font-size: 30;
       -fx-background-image: url('button_pressed.png');
       -fx-background-repeat: stretch;
       -fx-background-size: 100 40;
}


#girl-button {
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url('farmergirl.png');
    -fx-background-repeat: stretch;
    -fx-background-size: 120 230;
}

#name-field {
     -fx-border-color: #96533a;
     -fx-border-width: 2;
     -fx-background-color: #ffe6b7;
     -fx-font-family: 'Stardew Valley Regular';
     -fx-font-size: 40;
}

#inventory-btn {
    -fx-background-image: url('inventorybtn.png');
    -fx-background-size: 63 72;
}

#shop-btn {
    -fx-background-image: url('shopbtn.png');
    -fx-background-size: 63 72;
}

#sleep-btn {
    -fx-background-image: url('sleepbtn.png');
    -fx-background-size: 63 72;
}

.scroll-pane .viewport {
    -fx-background-color: #fec375;
  }